<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
  <title>Mail View</title>

  <style type="text/css">
    body {
      background: #fff;
      font-size: 12px;
      font-family: "Lucida Grande";
    }

    h2 {
      font-size: 12px;
      margin: 10px;
    }

    a {
      color: #7f7f7f;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <h2>Previews:</h2>
  <ul>
    <% links.each do |name, link| %>
      <li><a href="<%= link %>"><%= name %></a></li>
    <% end %>
  </ul>
</body>
</html>